.about{

    &_data{
        text-align: center;
    }
    &_description{
        margin-bottom: 40px;
        margin-top: 10px;
    }
    &_img{
        width: 280px;
         margin: auto;
        justify-self: center;

    }
}